extends layout

block layout-content
  div.View.Kobe
    h1.Banner Basketball
    div.Message
      div.Title
        h3 I Love Basketball
        h1 Kobe is an inspiration to me
    div.NavButtons
      a(href="/lambo")
          div.NavButton Cars