extends layout

block layout-content
  div.View.Car
    h1.Banner My Wifes Future Car
    div.Message
      div.Title
        h3 Lamborghini
        h1 Urus
    div.NavButtons
      a(href="/")
          div.NavButton Home