extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner My Hoobies
    div.Message
      div.Title
        h3 My hoobies
        h1 Spending time with my wife, Shoes, and Basketball
    div.NavButtons
      a(href="/micayla")
          div.NavButton Get to know me!